<div class="container">
	<div class="row">
		<div class="jumbotron">
		  <h1><%= @post.venue if @post.venue%></h1><br />
		  <p><%= @post.description if @post.description %></p>
		  <p><%= @post.address if @post.address %></p>
		  <p><%= @post.price if @post.details %></p>
		  <p><%= @post.details if @post.details %></p>
		  <p><%= link_to(@post.url, @post.url, target: "_blank") if @post.url%></p>
		</div>
	</div>
</div>