<div class="container">
	<div class="row">
		<div class="jumbotron">
		  <h1><%= @post.venue %></h1><br />
		  <p><%= @post.precis %></p>
		  <p><%= @post.address %></p>
		  <p><%= @post.price %></p>
		  <p><%= @post.description %></p>
		</div>
	</div>
</div>